:root {
  --green: #27ae60;
  --black: #192a56;
  --light-color: #666;
  --box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  overflow-x: hidden;
  scroll-padding-top: 5.5rem;
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  font-family: "Nunito", sans-serif;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
}

.main {
  margin-top: 64px;
  //border: 5px solid blue;
}

.home {
  border: 2px solid orange;
}

.dishes {
  //border: 2px solid orangered;
}

section {
  //padding: 4rem 9%;
}
